<!-- (1.3) -->
<!-- passtoChild in the parent component is passed as an attribute to the child component -->
<!-- Note that the attribute name is the one provided inside the @Input() -->
<ci-child [dataFromParent]="passtoChild" [option]="1"></ci-child>


<!-- (2.3) -->
<!-- inputName value is passed as input to child -->
<ci-child [name]="inputName" [option]="2"></ci-child>

<!-- (3.3) -->
<!-- The event triggered by the child is bound to an event handler in the parent -->
<!-- here voted is the event in the child and is bound to an event hander (onVoted) in the parent -->
<!-- the input to the event handler is the event argument -->
<ci-child [option]="3" (voted)="onVoted($event)"></ci-child>
<div>Parent listens for child event : {{ countVotes }}</div>
<hr><br>


<!-- (4.3) -->
<!-- The child's variables and methods are accessed in the parent using the template reference variable -->
<!-- creating a template ref "child" on child component and using it to access its properties -->
<ci-child #child [option]="4"></ci-child>
<button (click)="child.onAgree()">Agree</button>
<p> Interacting with child using template ref variable {{ child.counter }} </p>
<hr><br>

<!-- (5.3) -->
<button (click)="onAgreeClicked()">Agree</button>
<p>Parent calls an @ViewChild {{ counter }} </p>
<hr><br>


<!-- (6.3) -->
<button (click)="setDataInService()" >Set Data</button>
<ci-child [option]="6"></ci-child>
<hr><br>